@using Repository
@{
    IServiceRepository serviceRepository = new ServiceRepository();
    var listService = serviceRepository.GetServices();
}
<style>
    #feedback-form-wrapper #floating-icon > button {
        position: fixed;
        right: 0;
        top: 50%;
        transform: rotate(-90deg) translate(50%, -50%);
        transform-origin: right;
        z-index: 1;
    }

    #feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
        display: none;
    }

        #feedback-form-wrapper .rating-input-wrapper input[type="radio"] ~ span {
            cursor: pointer;
        }

        #feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked ~ span {
            background-color: #f3c300;
            color: #fff;
        }

    #feedback-form-wrapper .rating-labels > label {
        font-size: 14px;
        color: #777;
    }
</style>
@if (Context.Request.Cookies.ContainsKey("userName"))
{
    <div id="feedback-form-wrapper">
        <div id="floating-icon">
            <button type="button" class="btn btn-primary btn-sm rounded-0" data-toggle="modal" data-target="#exampleModal">
                Feedback
            </button>

        </div>
        <div id="feedback-form-modal">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="~/feedback/feedback" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="input-one">Service feedback?</label>
                                    <br />
                                    <select id="feedbackType" name="selectService" onchange="showInputField(this)" required>
                                        @foreach (var item in listService)
                                        {
                                            <option value="@item.ServiceId">@item.ServiceName</option>
                                        }
                                        <option value="other">Other</option>
                                    </select>

                                    <div id="otherFeedback" style="display: none;">
                                        <input type="text" class="form-control" id="otherFeedbackInput" placeholder="Enter other service" name="otherService">
                                    </div>

                                    <script>
                                        function showInputField(select) {
                                            var otherFeedbackDiv = document.getElementById("otherFeedback");
                                            if (select.value === "other") {
                                                otherFeedbackDiv.style.display = "block";
                                            } else {
                                                otherFeedbackDiv.style.display = "none";
                                            }
                                        }
                                    </script>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label for="exampleFormControlTextarea1">How would you rate this service?</label>
                                    <div class="rating-input-wrapper d-flex justify-content-between mt-2">
                                        <label><input type="radio" name="rating" value="1" /><span class="border rounded px-3 py-2">1</span></label>
                                        <label><input type="radio" name="rating" value="2" /><span class="border rounded px-3 py-2">2</span></label>
                                        <label><input type="radio" name="rating" value="3" /><span class="border rounded px-3 py-2">3</span></label>
                                        <label><input type="radio" name="rating" value="4" /><span class="border rounded px-3 py-2">4</span></label>
                                        <label><input type="radio" name="rating" value="5" /><span class="border rounded px-3 py-2">5</span></label>
                                        <label><input type="radio" name="rating" value="6" /><span class="border rounded px-3 py-2">6</span></label>
                                        <label><input type="radio" name="rating" value="7" /><span class="border rounded px-3 py-2">7</span></label>
                                        <label><input type="radio" name="rating" value="8" /><span class="border rounded px-3 py-2">8</span></label>
                                        <label><input type="radio" name="rating" value="9" /><span class="border rounded px-3 py-2">9</span></label>
                                        <label><input type="radio" name="rating" value="10" checked /><span class="border rounded px-3 py-2">10</span></label>
                                    </div>
                                    <div class="rating-labels d-flex justify-content-between mt-1">
                                        <label>Very bad</label>
                                        <label>Very good</label>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="input-two">Would you like to say something?</label>
                                    <textarea class="form-control" id="input-two" name="content" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="feedback-form-wrapper">
        <div id="floating-icon">
            <button type="button" class="btn btn-primary btn-sm rounded-0" data-toggle="modal" data-target="#exampleModal">
                Feedback
            </button>

        </div>
        <div id="feedback-form-modal">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="input-one">Service feedback?</label>
                                <br />
                                <select id="feedbackType" name="service" onchange="showInputField(this)" required>
                                    @foreach (var item in listService)
                                    {
                                        <option value="@item.ServiceId">@item.ServiceName</option>
                                    }
                                    <option value="other">Other</option>
                                </select>

                                <div id="otherFeedback" style="display: none;">
                                    <input type="text" class="form-control" id="otherFeedbackInput" placeholder="Enter other service" name="otherService">
                                </div>

                                <script>
                                    function showInputField(select) {
                                        var otherFeedbackDiv = document.getElementById("otherFeedback");
                                        if (select.value === "other") {
                                            otherFeedbackDiv.style.display = "block";
                                        } else {
                                            otherFeedbackDiv.style.display = "none";
                                        }
                                    }
                                </script>
                            </div>
                            <div class="form-group">
                                <br />
                                <label for="exampleFormControlTextarea1">How would you rate this service?</label>
                                <div class="rating-input-wrapper d-flex justify-content-between mt-2">
                                    <label><input type="radio" name="rating" value="1" /><span class="border rounded px-3 py-2">1</span></label>
                                    <label><input type="radio" name="rating" value="2" /><span class="border rounded px-3 py-2">2</span></label>
                                    <label><input type="radio" name="rating" value="3" /><span class="border rounded px-3 py-2">3</span></label>
                                    <label><input type="radio" name="rating" value="4" /><span class="border rounded px-3 py-2">4</span></label>
                                    <label><input type="radio" name="rating" value="5" /><span class="border rounded px-3 py-2">5</span></label>
                                    <label><input type="radio" name="rating" value="6" /><span class="border rounded px-3 py-2">6</span></label>
                                    <label><input type="radio" name="rating" value="7" /><span class="border rounded px-3 py-2">7</span></label>
                                    <label><input type="radio" name="rating" value="8" /><span class="border rounded px-3 py-2">8</span></label>
                                    <label><input type="radio" name="rating" value="9" /><span class="border rounded px-3 py-2">9</span></label>
                                    <label><input type="radio" name="rating" value="10" checked /><span class="border rounded px-3 py-2">10</span></label>
                                </div>
                                <div class="rating-labels d-flex justify-content-between mt-1">
                                    <label>Very bad</label>
                                    <label>Very good</label>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <label for="input-two">Would you like to say something?</label>
                                <textarea class="form-control" id="input-two" name="content" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary"><a href="@Url.Action("","login")" style="color:white">Submit</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
