@using Repository
@model ObjectBusiness.Account
@{
    ViewData["Title"] = "Edit profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
    IAccountRepository accountRepository = new AccountRepository();
    var list = accountRepository.GetUserByIdAccount(id);
}
<style>
    input[type="file"] {
        display: none
    }
</style>
@foreach (var item in list)
{
    @using (Html.BeginForm("edit", "profile", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="main-content">
            <!-- Header -->
            <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(@Url.Content("~/image/banner_bg.jpg")); background-size: cover; background-position: center top;">
                <!-- Mask -->
                <span class="mask bg-gradient-default opacity-8"></span>
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-7 col-md-10">
                            <h1 class="display-2 text-white">Hello @item.FullName</h1>
                            <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                            <button type="submit" class="btn btn-info">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="#">
                                            @if (item.Picture != null)
                                            {
                                                <img src="~/image/@item.Picture" class="rounded-circle">
                                            }
                                            else
                                            {
                                                <input type="file" id="fileInput" />
                                                <label style="cursor:pointer" for="fileInput" class="fileInputLabel rounded-circle">
                                                    <img src="~/image/icon_user.png" class="fileIcon" />
                                                </label>
                                            }
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                            <div>
                                                <span class="heading">@item.Point</span>
                                                <span class="description">Point</span>
                                            </div>
                                            <div>
                                                <span class="heading">@item.Star</span>
                                                <span class="description">Star</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3>
                                        @item.FullName<span class="font-weight-light">, @item.Age</span>
                                    </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>@item.Address
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">My account</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <h6 class="heading-small text-muted mb-4">User information</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-username">User name</label>
                                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @id = "input-username", @class = "form-control form-control-alternative" } })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Email address</label>
                                                    <input type="email" id="input-email" name="email" class="form-control form-control-alternative" value="@item.Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-password">Password</label>
                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "input-password", @class = "form-control form-control-alternative" } })
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-last-name">City</label>
                                                    <input type="text" id="input-last-name" name="city" class="form-control form-control-alternative" value="@item.City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-first-name">Region</label>
                                                    <input type="text" id="input-first-name" name="region" class="form-control form-control-alternative" value="@item.Region">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-address">Address</label>
                                                    <input type="text" id="input-address" name="address" class="form-control form-control-alternative" value="@item.Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-birthname">Birth name</label>
                                                    <input type="text" id="input-birthname" name="birthname" class="form-control form-control-alternative" value="@item.FullName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Age</label>
                                                    <select name="age" class="form-control form-control-alternative">
                                                        @for (var i = 1; i <= 100; i++)
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label">Gender</label>
                                                    <select name="gender" class="form-control form-control-alternative">
                                                        @if (item.Gender)
                                                        {
                                                            <option value="true">Male</option>
                                                            <option value="false">Female</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="false">Female</option>
                                                            <option value="true">Male</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-phonenumber">Phone number</label>
                                                    <input type="number" name="phonenumber" id="input-phonenumber" class="form-control form-control-alternative" value="@item.PhoneNumber" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}