@model ObjectBusiness.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .validation-summary-errors {
        background-color: red;
        color: white;
        border-radius: 5px;
    }
</style>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <h1>Edit event</h1>
            <form action="Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "")
                <div class="form-group">
                    @Html.LabelFor(model => model.EventId, new { @class = "control-label" })
                    @Html.EditorFor(model => model.EventId, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CategoryId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.CategoryId, ViewBag.ItemsCategory as IEnumerable<SelectListItem>, "Select 1 category", new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AccountId, new { @class = "control-label" })
                    @Html.DropDownListFor(model => model.AccountId, ViewBag.ItemsAccount as IEnumerable<SelectListItem>, "Select 1 user name", new { @class = "form-control", @required = true })
                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EventName, new { @class = "control-label" })
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", @required = true } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EventDescription, new { @class = "control-label" })
                    @Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control", @required = true } })
                    @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EventContent, new { @class = "control-label" })
                    @Html.EditorFor(model => model.EventContent, new { htmlAttributes = new { @class = "form-control", @required = true } })
                    @Html.ValidationMessageFor(model => model.EventContent, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumberOfParticipants, new { @class = "control-label" })
                    @Html.EditorFor(model => model.NumberOfParticipants, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfParticipants, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Picture, new { @class = "control-label" })
                    @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Picture, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img id="preview" src="@Url.Content(ViewBag.Anh==null?"~/Admin/img/avatar1.jpg":"~/Upload/images/"+ViewBag.Anh)" class="rounded-circle" height="40" width="40" />
                        <br>

                        @Html.EditorFor(model => model.ImagesEvent, new { htmlAttributes = new { @class = "custom-file mt-3 mb-3", @required = true } })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <div>
                <a href="~/admin/eventcategoryadmin"><i class="fa-solid fa-left-long"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>

<script>


    ImagesEvent.onchange = evt => {

        const [file] = ImagesEvent.files

        if (file) {

            preview.src = URL.createObjectURL(file);


        }

    }
    var input = document.getElementById('IdFile');    // Lấy input bằng id
    var randomId = Math.floor(Math.random() * 1000000000);  // Sinh số ngẫu nhiên giữa 0 và 100000
    input.value = randomId;    // Thiết lập giá trị cho input
</script>