@model IEnumerable<ObjectBusiness.Feedback>
@{
    ViewData["Title"] = "All feedback";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="panel">
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <!-- Newsfeed Content -->
                <!--===================================================-->
                <div class="media-block">
                    <a class="media-left" href="@Url.Action("","profile",new {id=item.AccountId})" title="profile"><img class="img-circle img-sm" alt="avatar" src="~/upload/images/@item.Avatar" width="50px" height="50px" style="border-radius: 50%;"></a>
                    <div class="media-body">
                        <a href="@Url.Action("","profile",new {id=item.AccountId})" class="btn-link text-semibold media-heading box-inline" title="profile">@item.UserName</a>
                        <p class="text-muted text-sm">@item.DateFeedBack</p>
                        <p>@item.Content</p>
                        @switch (item.Evaluate)
                        {
                            case 1:
                                <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                break;
                            case 2:
                                for (int i = 1; i < 3; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 3:
                                for (int i = 1; i < 4; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 4:
                                for (int i = 1; i < 5; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 5:
                                for (int i = 1; i < 6; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 6:
                                for (int i = 1; i < 7; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 7:
                                for (int i = 1; i < 8; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 8:
                                for (int i = 1; i < 9; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 9:
                                for (int i = 1; i < 10; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                            case 10:
                                for (int i = 1; i < 11; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                }
                                break;
                        }
                        <div class="pad-ver">
                            <a class="btn btn-danger" href="~/admin/feedbackadmin/details/@item.FeedbackId" title="Reply comment">Reply</a>
                        </div>
                        <hr>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


